<!DOCTYPE html>
<html>
  <head>
    <%= content_tag :div,
     id: "signed_in",
     data: user_signed_in? do %>
    <% end %>

    <%= content_tag :div,
     id: "pages",
     data: @movies.total_entries do %>
    <% end %>

  </head>

  <body>
    <div id="movies"></div>
    <%= javascript_pack_tag 'movies' %>
  </body>
</html>





